<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="oltp2olap.Properties.Settings.kioskConnectionString"
            connectionString="Data Source=ws0561\sql2005dev;Initial Catalog=kiosk;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>